<!DOCTYPE html>
<html lang="es">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} | Colectivo Rectángulo</title>

    {% load static %}

    <!-- Icono Web -->
    <link rel="icon" href="{% static 'core/img/logo.jpg' %}" type="image/x-icon">


    <!-- Bootstrap -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Fuentes -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Estilos -->
    <link href="{% static 'core/css/business-casual.css' %}" rel="stylesheet">

  </head>

  <body>
    <a  class="logo" href="{% url 'home' %}">
      <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">
          <!-- Aquí se coloca la imagen del logo -->
          <img class="logo"  src="{% static 'core/img/logo.jpg' %}" alt="Logo" >
        </span>
        <span class="site-heading-lower ">Colectivo Reactángulo</span>
        </span>
      </h1>
    </a>
    
    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container contenedor">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Colectivo Rectángulo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4 {% if request.path == '/' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item px-lg-4 {% if request.path == '/nosotros/' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item px-lg-4 {% if request.path == '/proyectos/' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="https://www.rectanguloenelojo.cl/" target="_blank">Proyectos</a>
            </li>
            <li class="nav-item px-lg-4 {% if request.path == '/noticias/' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'noticias' %}">Noticias</a>
            </li>
            <li class="nav-item px-lg-4 {% if request.path == '/contacto/' %}active{% endif %}">
              <a class="nav-link text-uppercase text-expanded" href="{% url 'contacto' %}">Contacto</a>
            </li>
            <li class="nav-item dropdown px-lg-4 {% if request.path == '/colaboraciones/' %}active{% endif %}">
              <a class="nav-link dropdown-toggle text-uppercase text-expanded " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Colaboraciones
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-uppercase text-expanded dropdown-item" href="#">Fotografía</a>
                <a class="nav-link text-uppercase text-expanded dropdown-item" href="#">Audivisual</a> 
              </div>
            </li>      
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}

    <!-- Pié de página -->
    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0">
          {% if LINK_X %}
	          <a href="{{ LINK_X }}" target="_blank" class="link">
	            <span class="fa-stack fa-lg">
	              <i class="fa fa-circle fa-stack-2x"></i>
	              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	            </span>
	          </a>
          {% endif %}
          {% if LINK_FACEBOOK %}
	          <a href="{{ LINK_FACEBOOK }}" target="_blank" class="link">
	            <span class="fa-stack fa-lg">
	              <i class="fa fa-circle fa-stack-2x"></i>
	              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	            </span>
	          </a>
          {% endif %}
          {% if LINK_INSTAGRAM %}
	          <a href="{{ LINK_INSTAGRAM }}" target="_blank" class="link">
	            <span class="fa-stack fa-lg">
	              <i class="fa fa-circle fa-stack-2x"></i>
	              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
	            </span>
	          </a>
          {% endif %}
          {% if LINK_VIMEO %}
            <a href="{{ LINK_VIMEO }}" target="_blank" class="link">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
              </span>
            </a>  
          {% endif %}
	    </p>
        <p class="m-0 mbt">
          {% load pages_extras %}
          {% get_page_list as page_list %}
          {% for page in page_list %}
            <a href="{% url 'page' page.id page.title|slugify %}" class="link">{{page.title}}</a> {% if not forloop.last %}·{% endif %}  
          {% endfor %}
		  </p>
        <p class="m-0 mbt1">Colectivo Rectángulo &copy;<span id="año-actual"></span></p>
      </div>
	</footer>

    <!-- Bootstrap -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- JS -->
    <script src="{% static 'core/js/año_actual.js' %}"></script>
  </body>

</html>
